<!DOCTYPE html>
<html ng-app="whaleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ServiceWhale Test SPA</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.2/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    <script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="vendor/toMd5.js"></script>
    <script src="whaleapp.js"></script>
</head>
<body>
    <div class="container">
        <div class="header" ng-controller="HeaderCtrl">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">swTest</span>
                    </div>

                    <div class="collapse navbar-collapse">
                        <div class="dropdown  navbar-right">
                            <button ng-show="isAuthorized" type="button" class="btn btn-default navbar-btn" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Cart
                                <span class="badge">{{cart.getCount()}}</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 360px;">
                                <li ng-hide="cart.getItems().length > 0"><div class="col-md-12">Cart is empty</div></li>
                                <li ng-show="cart.getItems().length > 0">
                                    <div class="col-md-6"><strong>Name</strong></div>
                                    <div class="col-md-4"><strong>Count</strong></div>
                                </li>
                                <li ng-repeat="item in cart.getItems()">
                                    <div class="col-md-6">{{item.name}}</div>
                                    <div class="col-md-4"><span>{{item.count}}</span> <a href="#" ng-click="removeItem($event, item.id)">Remove</a></div>
                                </li>
                            </ul>
                        </div>
                        <ul ng-hide="isAuthorized" class="nav navbar-nav navbar-right">
                            <li ng-class="getLinkClass('/signup')"><a href="#/signup">Sign up</a></li>
                            <li ng-class="getLinkClass('/login')"><a href="#/login">Log in</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div ng-view></div>
        <div style="clear: both;"></div>
        <div style="text-align: center; margin-bottom: 20px;"><a href="https://bitbucket.org/beshanoe/servicewhale-test">View source</a></div>
    </div>
</body>
</html>