<div>
    <div class="panel panel-default">
        <div class="panel-heading">Filter</div>
        <div class="panel-body">
            <form>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="datepicker">Date range</label>
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="form-control" name="start" ng-model="filterData.dateFrom" data-provide="datepicker" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" name="end" ng-model="filterData.dateTo" data-provide="datepicker" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price-range">Price range</label>
                        <div class="input-daterange input-group" id="price-range">
                            <input type="text" class="form-control" ng-model="filterData.priceFrom" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" ng-model="filterData.priceTo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="color-selector">Color</label>
                        <select class="form-control" id="color-selector" ng-model="filterData.color">
                            <option value="">All</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="black">Black</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="filterData.inStock">
                            In stock
                        </label>
                    </div>
                    <div class="form-group">
                        <button ng-click="resetFilter()" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="panel panel-default" item-rating="{{item.rating}}" ng-repeat="item in items | searchFilter:filterData">
            <div class="panel-body">
                <div class="col-md-3">
                    <img style="max-width: 150px;max-height: 150px;" src="{{item.image}}">
                </div>
                <div class="col-md-3">
                    <p><strong>{{item.name}}</strong></p>
                    <p><strong style="color: {{item.color}};">{{item.color}}</strong></p>
                </div>
                <div class="col-md-3">
                    <p>{{item.issueDate | date:'MM/dd/yyyy'}}</p>
                    <p><strong style="color: {{item.inStock? 'green': 'red'}};">{{item.inStock? 'In Stock': 'Out of stock'}}</strong></p>
                </div>
                <div class="col-md-3">
                    <p style="font-size: 20px;">{{item.price | currency:"$"}}</p>
                    <button class="btn btn-warning" ng-disabled="!item.inStock" ng-click="order(item)">Order</button>
                </div>
            </div>
        </div>
    </div>
</div>