<div class="col-md-6 col-md-offset-3">
    <div ng-show="signedUp" class="alert alert-success">
        You have been successfully signed up! Now <a href="#/login">log in</a> please
    </div>
    <div ng-hide="signedUp" class="panel panel-default">
        <div class="panel-heading">Registration</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input ng-model="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input ng-model="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Confirm</label>
                    <div class="col-sm-10">
                        <input ng-model="passwordConfirm" type="password" class="form-control" id="inputPassword4" placeholder="Confirm assword">
                    </div>
                </div>
                <div ng-show="validationErrors.length > 0" class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                    <p ng-repeat="error in validationErrors">{{error}}</p>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="signup()" class="btn btn-default">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>